<div class="side-header">
  <div class="user-name">
   <a href= "" >KO</a>
  </div>
  <div class="create-chat">
    <a href= "" >チャットを作成する</a>
  </div>
</div>
<div class="groups">
  <div class="group">
    <div class="group-name">
      <a href= "">ルーム101</a>
    </div>
  </div>
  <div class="group">
    <div class="group-name">
      <a href= "">ルーム102</a>
    </div>
  </div>
</div>